/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */
html, body {
	width: 99%;
	height: 100%;
	min-height: 100%;
	height: auto;
	background: black;
}

#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
	transform: translatex(-50%);
	left: 50%;
	font-size: 1.3em;
}
#closed-captions .on {
	opacity: 1;
}
#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/*************
All Animations
**************/
@keyframes borderGlow {
	0% { box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); }
	50% { box-shadow: 0px 0px 150px 100px rgb(63, 116, 83); }
	100% { box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); }
}

@keyframes alarmSound {
	0% { box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); }
	25% { box-shadow: 0px 0px 150px 100px rgb(74, 129, 180); }
	50% { box-shadow: 0px 0px 150px 100px rgb(189, 70, 70); }
	75% { box-shadow: 0px 0px 150px 100px rgb(74, 129, 180); }
	100% { box-shadow: 0px 0px 0px 0px rgb(0, 0, 0); }
}

@keyframes shakeTurn {
	0% { transform: translate(1px, 1px) rotate(0deg); }
	10% { transform: translate(-1px, -2px) rotate(-0.5deg); }
	20% { transform: translate(-3px, 0px) rotate(0.5deg); }
	30% { transform: translate(3px, 2px) rotate(0deg); }
	40% { transform: translate(1px, -1px) rotate(0.5deg); }
	50% { transform: translate(-1px, 2px) rotate(-0.5deg); }
	60% { transform: translate(-3px, 1px) rotate(0deg); }
	70% { transform: translate(3px, 1px) rotate(-0.2deg); }
	80% { transform: translate(-1px, -1px) rotate(0.2deg); }
	90% { transform: translate(1px, 2px) rotate(0deg); }
	100% { transform: translate(1px, -2px) rotate(0deg); }
}

  @keyframes vibrate {
	0% { transform: translate(0); }
	20% { transform: translate(-2px, 2px); }
	40% { transform: translate(-2px, -2px); }
	60% { transform: translate(2px, 2px); }
	80% { transform: translate(2px, -2px); }
	100% { transform: translate(0); }
  }

@keyframes soundbar {
	from {

	}
	to {
		
	}
}

/**************
All Used Voices
**************/
.voice1 {
	font-family: "Brenner sans light";
	color: #6BA6A7;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	margin: 0.5em;
  	padding: 0.5em;
	display: inline-block;
	margin-top: -7.6em;
}

.voice1::before {
	background: url("images/bubbleInterrogator.svg") no-repeat;
	content:"";
	background-size: 70px;
	padding: 1.3em 1.5em 1.5em 1.5em;
	margin-right: 0.6em;
	opacity: 0.6;
}

.voice2 {
	font-family: "Brenner slab medium italic";
	color: #7A77D2;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	padding: 0.5em;
	display: inline-block;
	margin-top: -7.6em;
}

.voice2::before {
	background: url("images/bubbleK.svg") no-repeat;
	content:"";
	background-size: 70px;
	padding: 1.3em 1.5em 1.5em 1.5em;
	margin-right: 0.6em;
	opacity: 0.6;
}

.voice3 {
	font-family: "Brenner sans bold italic";
	color: rgb(247, 108, 108);
	/* text-decoration-style: double;
	text-decoration-line: underline;
	text-decoration-color: rgb(156, 64, 64); */
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	padding: 0.5em;
	display: inline-block;
	margin-top: -24em;
	margin-left: -8em;
}

.voice4 {
	font-family: "Brenner sans";
	color: rgb(134, 167, 107);
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	padding: 0.5em;
	display: inline-block;
	margin-top: -7em;
}

.voice1-2 {
	font-family: "Brenner sans light";
	color: #6BA6A7;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	padding: 0.5em;
	display: inline-block;
	margin-top: -7em;
}

.voice2-2 {
	font-family: "Brenner slab medium italic";
	color: #7A77D2;
	background-color: rgba(0,0,0,0.5);
	border-radius: 15px;
	padding: 0.5em;
	display: inline-block;
	margin-top: -7em;
}

.cellsAnim1 {
	margin-top: -17em;
	margin-left: -17em;
	/* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); */
}

.cellsAnim2 {
	margin-top: -17em;
	margin-left: 17em;
}

@keyframes slide-in-left {
	0% {
	  transform: translateX(-1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }

@keyframes slide-in-right {
	0% {
	  transform: translateX(1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateX(0);
	  opacity: 1;
	}
  }
  
.interAnim1 {
	margin-top: -17em;
	margin-left: -17em;
	/* animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940); */
}

.interAnim2 {
	margin-top: -17em;
	margin-left: 17em;
	animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);

}

.withinAnim {
	margin-top: -17em;
	margin-left: 17em;
	animation: slide-in-blurred-right 0.6s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

  @keyframes slide-in-blurred-right {
	0% {
	transform: translateX(1000px) scaleX(2.5) scaleY(0.2);
	transform-origin: 0% 50%;
	filter: blur(40px);
	opacity: 0;
	}
	100% {
	transform: translateX(0) scaleY(1) scaleX(1);
	transform-origin: 50% 50%;
	filter: blur(0);
	opacity: 1;
	}
  }
  
/***************
Sounds Animated
***************/
.sound0 {
	animation: shakeTurn 0.5s ease-in-out, ;
	animation-iteration-count: 2;

}

.sound1 {
	animation: borderGlow 2.5s ease-in-out;
	animation-iteration-count: 1;
}

.sound2 {
	animation: alarmSound 1.5s ease-in-out;
	animation-iteration-count: 1;
}

.sound3 {
	animation: shakeTurn 0.5s ease-in-out;
	animation-iteration-count: 2;
}

.fuckOff {
	animation: vibrate 0.3s linear infinite both;
}

iframe {
	display: block;
	margin-top: 5em;
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	height: 40em;
}

#closed-captions {
	text-align: center;
	margin-left: -30em;
}

.animated {
	animation-duration: 5s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
}

/*****************
 Sound Visualisers
 *****************/
 .soundVisL {
	width: 60px;
	height: 60px;
	border-radius: 30px;
	box-shadow: 0px 0px 100px rgba(48, 228, 153, 0.767); 
	background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 196, 0), rgb(0, 255, 98));
	position: absolute;
	top: 22%;
	left: 3%;
	margin-left: auto;
	margin-right: auto;
	animation: soundAnimate 4s ease-in-out infinite alternate;
	transform-origin: bottom center;
	transform: rotate(180deg);
  }

  .soundVisR {
	width: 60px;
	height: 10px;
	border-radius: 30px;
	box-shadow: 0px 0px 100px rgba(48, 228, 153, 0.767); 
	background-image: linear-gradient(rgb(255, 0, 0), rgb(255, 196, 0), rgb(0, 255, 98));
	position: absolute;
	top: 22%;
	left: 90.5%;
	margin-left: auto;
	margin-right: auto;
	animation: soundAnimate 4s ease-in-out infinite alternate;
  }
  
@keyframes soundAnimate {
	0% {
		height: 60px;
	}
	50% {
		height: 60px;
	}
	100% {
		height: 480px;
	}
}

/* #soundVisualiser {
	position: absolute;
	top: 30%;
	left: 3%;
	opacity: 0.8;
  }

  #soundVisualiser2 {
	position: absolute;
	top: 30%;
	left: 90.5%;
	opacity: 0.8;
  } */

  .one {
	width: 80px;
	height: 40px;
	background: rgb(218, 44, 44);
	margin: 0;
	box-shadow: 0 0 30px rgb(197, 44, 77), inset 0 0 5px rgba(197, 44, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .two {
	width: 80px;
	height: 40px;
	background: rgb(197, 75, 44);
	margin: 0;
	box-shadow: 0 0 30px rgb(197, 75, 44), inset 0 0 5px rgba(197, 80, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .three {
	width: 80px;
	height: 40px;
	background: rgb(219, 175, 52);
	margin: 0;
	box-shadow: 0 0 30px rgb(197, 182, 44), inset 0 0 5px rgba(197, 182, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .four {
	width: 80px;
	height: 40px;
	background: rgb(216, 205, 49);
	margin: 0;
	box-shadow: 0 0 30px rgb(169, 197, 44), inset 0 0 5px rgba(195, 197, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .five {
	width: 80px;
	height: 40px;
	background: rgb(175, 209, 51);
	margin: 0;
	box-shadow: 0 0 30px rgb(161, 201, 52), inset 0 0 5px rgba(151, 197, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .six {
	width: 80px;
	height: 40px;
	background: rgb(126, 197, 44);
	margin: 0;
	box-shadow: 0 0 30px rgb(113, 197, 44), inset 0 0 5px rgba(100, 197, 44, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  .seven, .eight, .nine, .ten {
	width: 80px;
	height: 40px;
	background: rgb(44, 197, 133);
	margin: 0;
	box-shadow: 0 0 30px rgb(44, 197, 133), inset 0 0 5px rgba(44, 197, 133, 0.5);
	border-radius: 25px;
	animation: 2.5s infinite alternate;
  }
  
  .one {
	 animation-name: first;
  }
  .two {
	animation-name: second;
  }
  .three {
	animation-name: third;
  }
  .four {
	animation-name: fourth;
  }
  .five {
	animation-name: fifth;
  }
  .six {
	animation-name: sixth;
  }
  .seven {
	animation-name: seventh;
  }
  .eight {
	animation-name: eighth;
  }
  .nine {
	animation-name: ninth;
  }
  .ten {
	animation-name: tenth;
  }

  @keyframes first {
	0%   {opacity:0.2;}
	10%  {opacity:1;}
	20%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes second {
	0%   {opacity:0;}
	10%   {opacity:0.2;}
	20%  {opacity:1;}
	30%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes third {
	0%   {opacity:0;}
	20%  {opacity:0.2;}
	30%  {opacity:1;}
	40%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes fourth {
	0%   {opacity:0;}
	30%  {opacity:0.2;}
	40%  {opacity:1;}
	50%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes fifth {
	0%   {opacity:0;}
	40%  {opacity:0.2;}
	50%  {opacity:1;}
	60%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes sixth {
	0%   {opacity:0;}
	50%  {opacity:0.2;}
	60%  {opacity:1;}
	70%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes seventh {
	0%   {opacity:0;}
	60%  {opacity:0.2;}
	70%  {opacity:1;}
	80%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes eighth {
	0%   {opacity:0;}
	70%  {opacity:0.2;}
	80%  {opacity:1;}
	90%  {opacity:0.2;}
	100% {opacity:0;}
  }
  @keyframes ninth {
	0%   {opacity:0;}
	80%  {opacity:0.2;}
	90%  {opacity:1;}
	100% {opacity:0.2;}
  }
  @keyframes tenth {
	0%   {opacity:0;}
	90%  {opacity:0.2;}
	100%  {opacity:1;}
  }

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
}
.p0.on span:first-of-type {
	opacity: 1;
	transition: 0s;
	font-weight: 200;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s .4s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(3) {
	opacity: 1;
	transition: 0s .5s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";

}
.p0.on span:nth-of-type(4) {
	opacity: 1;
	transition: 0s .7s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";

}
.p0.on span:nth-of-type(5) {
	opacity: 1;
	transition: 0s 1.1s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s 1.4s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(7) {
	opacity: 1;
	transition: 0s 1.7s;
	margin-right: -.25em;
	font-weight: 800;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(8) {
	opacity: 1;
	transition: 0s 2s;
	font-weight: 800;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(9) {
	opacity: 1;
	transition: 0s 3s;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(10) {
	opacity: 1;
	transition: 0s 3.2s;
	font-family: "Brenner sans light";
}
.p0.on span:nth-of-type(11) {
	opacity: 1;
	transition: 0s 3.7s;
	margin-right: -2.5em;
	font-family: "Brenner sans light";
}

.p1.on span:first-of-type {
	opacity: 1;
	transition: 0s 0s;
}
.p1.on span:nth-of-type(2) {
	opacity: 1;
	transition: 0s 0.2s;
}

.p7.on span:first-of-type,
.p7.on span:nth-of-type(2),
.p7.on span:nth-of-type(3),
.p7.on span:nth-of-type(4),
.p7.on span:nth-of-type(5),
.p7.on span:nth-of-type(6) {
	opacity: 1;
	transition: 0s .5s;
}
.p7.on span:nth-of-type(7),
.p7.on span:nth-of-type(8),
.p7.on span:nth-of-type(9),
.p7.on span:nth-of-type(10),
.p7.on span:nth-of-type(11),
.p7.on span:nth-of-type(12),
.p7.on span:nth-of-type(13) {
	opacity: 1;
	transition: 0s .5s;
	transition-delay: 2s;
}

/* Cells - Cells */
#closed-captions .p8[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p8[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 2.5s;
}

#closed-captions .p9[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p9[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 2s;
}

#closed-captions .p11[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p11[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 2s;
}

#closed-captions .p12[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p12[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 1.5s;
}

#closed-captions .p14[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p14[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 2.5s;
}

#closed-captions .p15[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p15[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 2.5s;
}

#closed-captions .p17[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p17[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p18[class*="on"]{
	animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p18[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

  @keyframes tracking-in-expand {
	0% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}

	40% {
	  opacity: 0.6;
	}
	100% {
	  opacity: 1;
	}

	  40% {
		opacity: 0.6;
	}
	0% {
		opacity: 0;
	  }
  }
  
/* Interlinked - interlinked */
#closed-captions .p19[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p19[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p20[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p20[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p19[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p19[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p20[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p20[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p22[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p22[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p23[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p23[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p25[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p25[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p26[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p26[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p28[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p28[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p29[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	margin-top: -14em;
	margin-left: -15em;
}
#closed-captions .p29[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p31[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	margin-top: -14em;
	margin-left: -15em;
}
#closed-captions .p31[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p33[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p33[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p34[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	margin-top: -14em;
	margin-left: -15em;
}
#closed-captions .p34[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p36[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
#closed-captions .p36[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p37[class*="on"]{
	animation: tracking-in-contract 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
	margin-top: -14em;
	margin-left: -15em;
}
#closed-captions .p37[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

@keyframes tracking-in-contract {
	0% {
	  letter-spacing: 0.2em;
	  opacity: 0;
	}
	40% {
	  opacity: 0.6;
	}
	100% {
	  letter-spacing: normal;
	  opacity: 1;
	}
  }

/* 3 times within cells interlinked */
#closed-captions .p41[class*="on"]{
	animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	margin-top: -14em;
	margin-left: -15em;
}
#closed-captions .p41[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p42[class*="on"]{
	animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	margin-top: -12em;
	margin-left: -15em;
}
#closed-captions .p42[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}

#closed-captions .p43[class*="on"]{
	animation: tracking-out-contract 0.7s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
	margin-top: -10em;
	margin-left: -15em;
}
#closed-captions .p43[class*="off"]{
	transform: scale(0);
	transition: 0.4s;
	transition-delay: 0.7s;
}  

  @keyframes tracking-out-contract {
	0% {
	  opacity: 1;
	}
	50% {
	  opacity: 1;
	}
	100% {
	  letter-spacing: -0.5em;
	  opacity: 0;
	}
  }
  
  /******************************
  Fixes voor smalle tekst balkjes 
  ******************************/

  #voiceYesSir {
	  width: 8em;
  }

  #voiceRecite {
	  width: 16em;
  }

  #voiceSpin {
	  width: 25em;
  }

  #voiceWithinCells {
	  width: 24em;
  }

  #voiceWithinOneStem {
	  width: 20em;
  }

  #voiceTallWhiteFountain {
	  width: 23em;
  }